/* Stile generale */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #80e0d0;; /* Verde scuro */
  color: #13453CFF;
  border-bottom: 2px solid #13453CFF;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-links li a {
  text-decoration: none;
  color: #13453CFF;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #13453c;; /* Verde acqua più chiaro */
}

/* Hero Section */
.hero-section {
  background: #80e0d0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-section .content {
  max-width: 600px;
}

.hero-section h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-section p {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Sfondo colore principale */
body {
  background-color: #e0f7f5; /* Verde acqua chiaro */
}
